@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;900&family=Open+Sans:wght@300;500&display=swap");

* {
  padding: 0;
  margin: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cointainer {
  width: 100vw;
  height: 100vh;
  background-image: url("../../Assets/fundo-tela-login.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
.box-white {
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  width: 100%;
  max-width: 541px;
  max-height: 582px;
  background-image: linear-gradient(to top, white 81%, white 1%, #eeebeb 18%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-between;
  align-items: center;
  justify-content: center;
}
.login-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  color: #686868;

  margin: 5px 20px 10px 30px;
}
.login-input {
  display: flex;
  flex-direction: column;
}
.button-login {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
}
